/* Sticky footer */
html, body {
  height: 100%;
  font-family: "fira_sansbook", Helvetica, Arial, sans-serif; }

.page__buffer {
  height: 50px; }

.page__wrapper {
  min-width: 1020px;
  min-height: 100%;
  margin-bottom: -50px; }

* html .page__wrapper {
  height: 100%; }

.page__footer {
  height: 50px; }

.header {
  height: 120px;
  background: #EFF3F7 url(../img/header-gradient.png) bottom left no-repeat; }
  .header__in {
    width: 1200px;
    margin: 0 auto; }
  .header__logo {
    width: 243px;
    float: left;
    padding-top: 39px; }
  .header__logolink {
    display: block;
    height: 42px; }
    .header__logolink img {
      display: block;
      width: 100%; }
  .header__text {
    margin-left: -9999px; }
  .header__social {
    width: 262px;
    float: right;
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
    padding-top: 35px;
    margin-right: 5px; }
  .header__socialitem {
    display: inline-block;
    margin-right: 19px; }
    .header__socialitem:last-child {
      margin: 0; }
  .header__sociallink {
    text-indent: -9999px;
    display: block;
    width: 47px;
    height: 47px; }
    .header__sociallink_vk {
      background: url("../img/icons-s1779486c57.png") 0 -644px no-repeat; }
      .header__sociallink_vk:hover {
        background: url("../img/icons-s1779486c57.png") 0 -587px no-repeat; }
    .header__sociallink_tw {
      background: url("../img/icons-s1779486c57.png") 0 -530px no-repeat; }
      .header__sociallink_tw:hover {
        background: url("../img/icons-s1779486c57.png") 0 -473px no-repeat; }
    .header__sociallink_fb {
      background: url("../img/icons-s1779486c57.png") 0 -132px no-repeat; }
      .header__sociallink_fb:hover {
        background: url("../img/icons-s1779486c57.png") 0 -75px no-repeat; }
    .header__sociallink_github {
      background: url("../img/icons-s1779486c57.png") 0 -246px no-repeat; }
      .header__sociallink_github:hover {
        background: url("../img/icons-s1779486c57.png") 0 -189px no-repeat; }

.l-content__in {
  width: 960px;
  margin: 0 auto;
  padding-top: 39px; }
  .l-content__in:before, .l-content__in:after {
    display: table;
    content: ""; }
  .l-content__in:after {
    clear: both; }
  .lt-ie8 .l-content__in {
    zoom: 1; }
.l-content__right {
  float: right;
  width: 650px; }
.l-content__left {
  width: 250px;
  float: left; }

.sidebar-menu {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
  margin-bottom: 23px; }
  .sidebar-menu__item {
    display: block; }
    .sidebar-menu__item:first-child .sidebar-menu__itemlink {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .sidebar-menu__item:last-child .sidebar-menu__itemlink {
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    .sidebar-menu__item:after {
      content: "";
      display: block;
      width: 230px;
      margin: 0 auto;
      height: 2px;
      background: #08AAC2;
      margin-top: -2px; }
    .sidebar-menu__item:last-child:after {
      display: none; }
  .sidebar-menu__itemlink {
    display: block;
    height: 73px;
    line-height: 73px;
    background: #EFF3F7;
    color: #959AA8;
    font-family: "fira_sansbook", Helvetica, Arial, sans-serif;
    font-size: 23px;
    font-weight: 300;
    padding-left: 28px;
    line-height: 73px;
    text-decoration: none; }
    .sidebar-menu__itemlink:hover {
      color: #3BA8C0; }
    .sidebar-menu__itemlink_active {
      background: #08AAC2;
      color: #fff; }
      .sidebar-menu__itemlink_active:hover {
        color: #fff; }

.contacts__heading {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 40px;
  background-color: #3BA8C0;
  line-height: 40px;
  padding-left: 20px;
  color: #FBFCFD;
  font-family: "fira_sanslight", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0; }
.contacts__list {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside; }
.contacts__itemlink {
  height: 40px;
  line-height: 40px;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-family: "fira_sanslight", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding-left: 32px; }
  .contacts__itemlink:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    line-height: 40px; }
  .contacts__itemlink:hover {
    text-decoration: underline; }
  .contacts__itemlink_email {
    background: #06CDEA url(../img/email-bg.jpg) 0 0 no-repeat; }
    .contacts__itemlink_email:before {
      background: url("../img/icons-s1779486c57.png") 0 -387px no-repeat;
      width: 21px;
      height: 16px;
      position: relative;
      top: 2px; }
  .contacts__itemlink_tel {
    background: #06CDEA url(../img/phone-bg.jpg) 0 0 no-repeat; }
    .contacts__itemlink_tel:before {
      background: url("../img/icons-s1779486c57.png") 0 -413px no-repeat;
      width: 19px;
      height: 20px;
      position: relative;
      top: 4px; }
  .contacts__itemlink_skype {
    background: #17DCFB url(../img/skype-bg.jpg) 0 0 no-repeat; }
    .contacts__itemlink_skype:before {
      background: url("../img/icons-s1779486c57.png") 0 -443px no-repeat;
      width: 20px;
      height: 20px;
      position: relative;
      top: 4px; }

.main-info {
  background: #EFF3F7;
  margin-bottom: 25px;
  padding-right: 55px;
  padding-bottom: 45px; }
  .main-info__heading {
    margin: 0;
    padding: 12px 20px;
    color: #3BA8C0;
    font-family: "fira_sanslight", Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 300;
    display: inline-block;
    border-bottom: 2px solid #3BA8C0;
    margin-bottom: 20px; }
  .main-info__row:before, .main-info__row:after {
    display: table;
    content: ""; }
  .main-info__row:after {
    clear: both; }
  .lt-ie8 .main-info__row {
    zoom: 1; }
  .main-info__photocol {
    width: 172px;
    float: left;
    padding-left: 55px; }
  .main-info__photowrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #08AAC2; }
  .main-info__photo {
    width: 100%; }
  .main-info__contentcol {
    width: 367px;
    float: right; }
  .main-info__listitem_skills:before, .main-info__listitem_skills:after {
    display: table;
    content: ""; }
  .main-info__listitem_skills:after {
    clear: both; }
  .lt-ie8 .main-info__listitem_skills {
    zoom: 1; }
  .main-info__list {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside; }
  .main-info__term {
    display: inline-block;
    padding: 0;
    margin-right: 20px;
    color: #4A545D;
    font-family: "fira_sansmedium", Helvetica, Arial, sans-serif;
    font-size: 17px; }
    .main-info__term_skills {
      float: left;
      margin-right: 18px; }
  .main-info__def {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: #37424D;
    font-family: "fira_sanslight", Helvetica, Arial, sans-serif;
    font-size: 15px; }
    .main-info__def_skills {
      float: right; }
  .main-info__skills {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
    width: 194px;
    padding-top: 4px; }
  .main-info__skill {
    display: inline-block;
    height: 19px;
    padding: 0 12px;
    background-color: #008DA4;
    background-image: -moz-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%);
    background-image: -webkit-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%);
    color: #FFF;
    font-family: "proxima_nova_condensedSBd", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 8px;
    margin-right: 2px; }

.experience {
  background: #EFF3F7;
  margin-bottom: 25px;
  padding-right: 50px;
  padding-bottom: 45px; }
  .experience__heading {
    margin: 0;
    padding: 12px 20px;
    color: #3BA8C0;
    font-family: "fira_sanslight", Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 300;
    display: inline-block;
    border-bottom: 2px solid #3BA8C0;
    margin-bottom: 20px; }
  .experience__items {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
    padding-left: 56px; }
  .experience__item {
    padding-left: 70px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    position: relative; }
    .experience__item:before {
      content: "";
      display: inline-block;
      background: url("../img/icons-s1779486c57.png") 0 -701px no-repeat;
      width: 36px;
      height: 34px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
    .experience__item:last-child {
      margin-bottom: 0; }
    .experience__item--place {
      color: #4A545D;
      font-family: "fira_sansbook", Helvetica, Arial, sans-serif;
      font-size: 17px;
      display: block; }
    .experience__item--time {
      display: block;
      font-size: 15px;
      color: #4A545D;
      font-family: "fira_sanslight", Helvetica, Arial, sans-serif; }

.education {
  background: #EFF3F7;
  margin-bottom: 25px;
  padding-right: 50px;
  padding-bottom: 45px; }
  .education__heading {
    margin: 0;
    padding: 12px 20px;
    color: #3BA8C0;
    font-family: "fira_sanslight", Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 300;
    display: inline-block;
    border-bottom: 2px solid #3BA8C0;
    margin-bottom: 20px; }
  .education__items {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
    padding-left: 56px; }
  .education__item {
    padding-left: 72px;
    margin-bottom: 25px;
    position: relative; }
    .education__item:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
    .education__item_edu:before {
      background: url("../img/icons-s1779486c57.png") 0 -42px no-repeat;
      width: 41px;
      height: 23px; }
    .education__item_course:before {
      background: url("../img/icons-s1779486c57.png") 0 0 no-repeat;
      width: 26px;
      height: 32px;
      margin-left: 8px; }
    .education__item:last-child {
      margin-bottom: 0; }
    .education__item--place {
      color: #4A545D;
      font-family: "fira_sansbook", Helvetica, Arial, sans-serif;
      font-size: 17px;
      display: block; }
    .education__item--time {
      display: block;
      font-size: 15px;
      color: #4A545D;
      font-family: "fira_sanslight", Helvetica, Arial, sans-serif; }

.footer {
  height: 81px;
  background: #EFF3F7 url(../img/header-gradient.png) top left no-repeat; }
  .footer__in {
    width: 960px;
    margin: 0 auto;
    position: relative; }
  .footer__login {
    background: url("../img/icons-s1779486c57.png") 0 -345px no-repeat;
    width: 20px;
    height: 32px;
    position: absolute;
    top: 23px;
    left: 30px;
    display: inline-block; }
    .footer__login:hover {
      background: url("../img/icons-s1779486c57.png") 0 -303px no-repeat; }
  .footer__copy {
    width: 526px;
    text-align: center;
    margin: 0 auto;
    display: table;
    height: 81px; }
  .footer__copy--text {
    color: #4A545D;
    font-family: "fira_sanslight", Helvetica, Arial, sans-serif;
    font-size: 13px;
    vertical-align: middle;
    margin: 0;
    display: table-cell; }
